.heroSection {
  margin-top: -60px;
  position: relative;
  z-index: -10;
}

.heroGrid {
  display: grid;
  grid-template-columns: 1fr 0.6fr;
  align-items: center;
  gap: 20px;
}

.heroImage {
  display: flex;
  justify-self: end;
  /* right */
  align-self: start;
  /* top */
}


.heroImage img {
  width: 100%;
  /* max-width: 600px; */
  /* min-width: 0; */
  height: auto;
  display: block;
}

.role {
  color: #ffb400;
  font-weight: 600;
  margin-top: 100px;
  margin-bottom: -20px;
}

.heroText {
  justify-self: start;
  /* left */
  align-self: end;
  /* bottom */
  padding-left: 20px;
}

.heroText h1 {
  font-size: 42px;
  margin-bottom: 15px;
  line-height: 1.2;
  text-align: left;

}

.desc {
  color: #666;
  margin-bottom: 25px;
  line-height: 1.6;
}

.btn {
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  font-size: 14px;
}

.primary {
  background: #ffb400;
  color: white;
}

.outline {
  background: transparent;
  border: 2px solid #333;
}

@media (max-width: 900px) {
  .heroGrid {
    grid-template-columns: 1fr 1fr;
    height: 40vh;
  }
}

@media (max-width: 700px) {
  .heroGrid {
    grid-template-columns: 1fr;
  }

  .heroImage {
    display: none;
  }

  .heroText {
    /* position: relative;
    z-index: -10; */
    height: 100%;

    background-image: url('/hero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}