.navbar {
  padding: 0 80px;
  background: transparent;
}

.navContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homeLink {
  text-decoration: none;
  color: #1d1d1d;
}

.homeLink a {
  text-decoration: none;
  color: #1d1d1d;
}

.navLinks {
  display: flex;
  gap: 30px;
}

.navLinks a {
  /* margin-left: 30px; */
  text-decoration: none;
  color: #1d1d1d;
  font-weight: 500;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 20px;
  }

  .navLinks {
    gap: 20px;
  }

  .navLinks a {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 0 15px;
  }

  .navLinks {
    gap: 15px;
  }

  .navContent h3 {
    font-size: 18px;
  }
}
