.navbar {
  padding: 0 80px;
  background: transparent;
}

.navContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLinks {
  display: flex;
  gap: 30px;
}

.navLinks a {
  /* margin-left: 30px; */
  text-decoration: none;
  color: #1d1d1d;
  font-weight: 500;
}
