.navbar {
  padding: 20px 0;
}

.navContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLinks a {
  margin-left: 30px;
  text-decoration: none;
  color: #1d1d1d;
  font-weight: 500;
}
